@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Inter';
}

#nav-icon3 {
    width: 60px;
    height: 45px;
    position: relative;
    /*margin: 30px auto;*/
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #337AB7;
    border-radius: 222px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 7px;
}
#nav-icon3 span:nth-child(4) {
    top: 14px;
}
#nav-icon3.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
}
#nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
}


@layer utilities {

    .back-grad{
        background: linear-gradient(56.59deg, #A34EDF 0%, #557AFF 27.6%, #5FD8FF 81.77%);
    }
    .black-back-grad{
        background: linear-gradient(56.59deg, #2F1D3C 0%, #1F2745 27.6%, #284F5B 81.77%, #3F635A 100%);
    }
    .bg-offset{
        background: rgba(130, 166, 208, 0.25);
        box-shadow: 0px 4px 15px #4A7996;
        border-radius: 20px;
    }
    .bg-black-offset{
        background: #1A304F;
        box-shadow: 0px 4px 15px #264355;
    }

    .blue-grad{
        background: linear-gradient(90deg, #1DF1FF 0%, #9AF9FF 100%);
        box-shadow: 0px 4px 104px #3DF4FF;
    }
    .green-grad{
        background: linear-gradient(90deg, #4FDA76 0%, #62FFC6 100%);
        box-shadow: 0px 4px 104px #3DF4FF;
    }

}

table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#fff;}
table.iksweb td{font-size:13px;color:#fff;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #fff;}
table.iksweb tr:hover{background-color:transparent}
table.iksweb tr:hover td{color:#fff;cursor:default;}