@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .red-grad{
        background: linear-gradient(90deg, #C74A54 0%, #FF3F4E 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .blue-grad{
        background: linear-gradient(90deg, #5F61FF 0%, #49B3FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .green-grad{
        background: linear-gradient(90deg, #65D6CB 0%, #5FFFCF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .purple-grad{
        background: linear-gradient(90deg, #A34EDF 0%, #EE87FF 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .back-grad{
        background: linear-gradient(56.59deg, #A34EDF 0%, #557AFF 27.6%, #5FD8FF 81.77%, #E4FFBC 100%);
    }
    .blue-button{
        background: linear-gradient(90deg, #3DB5F9 0%, #B8EAFF 72.58%);
        box-shadow: -20px 4px 50px #3DE8FF;
        border-radius: 73px;
    }
}

table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:normal;font-size:14px; color:#ffffff;background-color:#fff;}
table.iksweb td{font-size:13px;color:#fff;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 5px;line-height:13px;vertical-align: middle;border: 1px solid #fff;}
table.iksweb tr:hover{background-color:transparent}
table.iksweb tr:hover td{color:#fff;cursor:default;}